<template>
  <form class="w-full max-w-lg" @submit.prevent="validateForm">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >Name</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
          id="grid-first-name"
          type="text"
          placeholder="Jane"
          v-model="state.currentUser.name"
        />
        <p v-show="errors.name" class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>

      <div class="w-full md:w-1/2 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-email"
        >Email</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 focus:border-green-500"
          id="grid-email"
          type="email"
          placeholder="email"
          v-model="state.currentUser.email"
        />
        <p v-show="errors.email" class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >address</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
          id="grid-first-name"
          type="text"
          placeholder="address"
          v-model="state.currentUser.address"
        />
        <p v-show="errors.address" class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>

      <div class="w-full md:w-1/2 px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-first-name"
        >postal</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
          id="grid-first-name"
          type="text"
          placeholder="postal"
          v-model="state.currentUser.postal"
        />
        <p v-show="errors.postal" class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-city"
        >City</label>
        <input
          v-model="state.currentUser.city"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 focus:border-green-500"
          id="grid-city"
          type="text"
          placeholder="Albuquerque"
        />
        <p v-show="errors.city" class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>

      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-province"
        >province</label>
        <input
          v-model="state.currentUser.province"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 focus:border-green-500"
          id="grid-zip"
          type="text"
          placeholder="province"
        />
        <p v-show="errors.province" class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-province"
        >country</label>
        <input
          v-model="state.currentUser.country"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 focus:border-green-500"
          id="grid-country"
          type="text"
          placeholder="country"
        />
        <p v-show="errors.country" class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
      <div class="w-full px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-channel"
        >channel</label>

        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 focus:border-green-500"
            id="grid-channel"
            v-model="state.currentUser.channel"
          >
            <option
              v-for="option in [
                { text: 'website', value: 'website' },
                { text: 'email', value: 'email' },
                { text: 'phone', value: 'phone' },
                { text: 'other', value: 'other' }
              ]"
              :key="option.value"
              :selected="option.value === state.currentUser.channel"
            >{{ option.text }}</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <button
      class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
      type="submit"
    >Submit</button>
    <button
      @click="state.editingMode = false"
      class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded"
      type="button"
    >Cancel</button>
  </form>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Observer } from 'mobx-vue'
import { sharedState } from '../view-model'

@Observer
@Component
export default class UserInfoForm extends Vue {
  errors = {}

  state = sharedState

  async mounted() {
    // this.state = sharedState
    // console.log(this.state.currentUser)
  }

  validateForm() {
    const {
      name,
      email,
      address,
      postal,
      city,
      province,
      country,
      channel
    } = this.state.currentUser

    this.errors = {}
    this.hasErrors = false
    if (!name.length) {
      this.hasErrors = true
      this.errors.name = true
    }
    if (!email.length) {
      this.hasErrors = true
      this.errors.email = true
    }
    if (!address.length) {
      this.hasErrors = true
      this.errors.address = true
    }
    if (!postal.length) {
      this.hasErrors = true
      this.errors.postal = true
    }
    if (!city.length) {
      this.hasErrors = true
      this.errors.city = true
    }
    if (!province.length) {
      this.hasErrors = true
      this.errors.province = true
    }
    if (!country.length) {
      this.hasErrors = true
      this.errors.country = true
    }

    if (this.hasErrors) {
      return 'has errors'
    }

    console.log('valid entry', {
      name,
      email,
      address,
      postal,
      city,
      province,
      country,
      channel
    })
  }
}
</script>


